 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 916px;
}

.u-section-1 .u-image-1 {
  height: 669px;
  object-position: 50% 100%;
  width: 669px;
  margin: 52px 65px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 512px;
  min-height: 630px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -285px auto 60px 65px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 317px;
  width: 452px;
  margin: 86px 0 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-1 .u-image-1 {
    object-position: 100% 100%;
    width: 583px;
    margin-top: 56px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -287px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-group-1 {
    width: 437px;
    margin-top: -110px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 115px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 474px;
    width: 485px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -72px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-image-1 {
    height: 332px;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
  }
}